p {
    text-align: justify;
}

/* força todas as tabelas a respeitar a largura definida */
table {
  table-layout: fixed !important;
}

/* permite que o texto quebre naturalmente dentro das células */
td, th {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* se você tiver divs internas, também garanta quebra de texto */
td div, th div {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify; /* <-- aqui aplicamos o texto justificado */
}

/* Destacar itens de primeiro nível no menu lateral */
.md-nav__item--nested > .md-nav__link {
    font-weight: bold;
    color: #1565c0; /* Azul forte */
}
